services:
  postgres:
    image: postgres:latest
    container_name: catalogus-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: newpassword
      POSTGRES_DB: catalogus
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
